html, body, main {
    font-family: sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    background-color: #999;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 0;
}

h2 {
    font-size: 18px;
}

a {
    color: #069;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article {
    background-color: #fff;
    min-width: 324px;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 30px;
}

.wrapper {
    margin-top: 50px;
    display: flex;
}

.wrapper section {
    flex-grow: 1;
    margin-bottom: 50px;
}

.underline {
    text-decoration: underline;
}

.IN-widget {
    margin-left: -9px;
}

@media screen and (max-width: 790px) {
    article {
        padding: 1px 15px;
    }
}

@media screen and (max-width: 760px) {
    .wrapper {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    html, body, main {
        font-size: 14px;
    }

    article {
        padding: 1px 10px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    html, body, main {
        font-size: 12px;
    }

    article {
        padding: 1px 9px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 14px;
    }
}
